<!DOCTYPE html>
<html>
    <head>
        <title>Crear Empleado</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/empleados">Lista de Empleados</a></h3>
            <h1>Crear Nuevo Empleado</h1>
            <form action="/empleados/save" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>Nombre</td>
                            <td><input type="text" name="nombre" /></td>
                        </tr>
                        <tr>
                            <td>Apellido</td>
                            <td><input type="text" name="apellido" /></td>
                        </tr>
                        <tr>
                            <td>Edad</td>
                            <td><input type="text" name="edad" /></td>
                        </tr>
                        <tr>
                            <td>DNI</td>
                            <td><input type="text" name="dni" /></td>
                        </tr>
                        <tr>
                            <td>Cargo</td>
                            <td><input type="text" name="cargo" /></td>
                        </tr>
                        <tr>
                            <td>Sueldo</td>
                            <td><input type="text" name="sueldo" /></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Grabar" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>
